<html>
    <body>
        <form method="POST" action="/any">
            <input type="checkbox" name="val2" value="asd">asd
            <input type="checkbox" name="val2" value="qwe">qwe
            <input type="text" name="val1" >
            <input type="submit" value="submit">
        </form>
    </body>
</html>