<html>
    <head>
        <style>
            body {
                background: limegreen;
            }
        </style>
    </head>
    <body>
        <h1> <%= name%> </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="signout">
                <a href="/signout" >Sign Out</a>
            </div>
    </body>
</html>